body {
    font-family: 'Poppins', sans-serif;
    background-image: url('index1.jpg');
    background-position: center;
    background-size: cover;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(20%);
    z-index: -1;
}

a {
    text-decoration: none;
}

button {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.left, .right {
    position: absolute;
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

button {
    display: block;
    margin: 10px;
    padding: 10px;
}
